
#grey {
  background-color: rgb(228, 225, 225);
  width: 420px;
  height: 300px;
  position: absolute;
  

}

#sticker {
  background-color: orangered;
  width: 400px;
  height: 260px;
  border: 5px;
  padding: 5px;
  position: absolute;
  border-radius: 4%;
  position: absolute; left: 13px; top: 22px;

}

#hello {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 500%;
  font-weight: bolder;
  position: absolute; top: -85px; left: 100px;
}

#name-is {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;top: 30px; left: 120px;
  font-size: 250%;
  font-weight: bolder;
  
  
}

#white-bar {
    background-color: white;
    width: 400px;
    height: 110px;
    border: 5px;
    z-index: 1;
    padding: 5px;
    position: absolute;
    left: 12px;
    top: 140px;
  
}

#name {
  font-family: cursive;
  font-size: 240%;;
  position: absolute;
  left: 115px;
  top: -10px;
}

#footer {
   position: absolute;
   top: 1300px;
   text-align: end;
   height: 40px;
   background-color: rgb(255, 255, 255);

}